<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project Management System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="/js/tabController.js" type="text/javascript" />
    <link href="css/tabFormatting.css" type="text/css" rel="stylesheet"/>

</head>
<body>
    <!-- https://www.w3schools.com/howto/howto_js_tabs.asp -->
    <div class="tab">
        <button class="tablinks" id="defaultOpen" onclick="openTab(event, 'project')">Projects</button>
        <button class="tablinks" onclick="openTab(event, 'sched')">Presentation Scheduling Tool</button>
    </div>
    <div id="project" class="tabcontent">
        <table class="wide">
            <tr><td colspan="2" class="title">Stray Student List</td></tr>
            <tr>
                <td>
                    <!-- Stray student list -->
                    <table id="projects">
                        <tr><td>Placeholder Student Reference</td></tr>
                        <tr><td>Placeholder Student Reference</td></tr>
                        <tr><td>Placeholder Student Reference</td></tr>
                        <tr><td>Placeholder Student Reference</td></tr>
                        <tr><td>Placeholder Student Reference</td></tr>
                    </table>
                    <button type="button" id="notifyStudent">Notify Student</button>
                </td>
                <td>
                    <form>
                        Project Due Date: <br/> <input type="date" name="due"/><br/>
                        <input type="submit" value="Submit"/>
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <div id="sched" class="tabcontent">Nothing here</div>


</body>
</html>