<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Project Management System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="/js/tabController.js" type="text/javascript" />
    <link href="../css/tabFormatting.css" type="text/css" rel="stylesheet"/>

</head>
<body>
    <!-- https://www.w3schools.com/howto/howto_js_tabs.asp -->
    <div class="tab">
        <button class="tablinks" id="defaultOpen" onclick="openTab(event, 'project')">Projects</button>
        <button class="tablinks" onclick="openTab(event, 'sched')">Presentation Scheduling Tool</button>
    </div>
    <div id="project" class="tabcontent">
        <table class="wide">
            <tr><td colspan="2" class="title">Stray Student List</td></tr>
            <tr>
                <td>
                    <!-- Stray student list -->
                    <table id="projects">
                        <div th:each="u:${users}">
                            <tr><td th:text="${u.email}"></td></tr>
                        </div>
                    </table>
                    <button type="button" id="notifyStudent">Notify Student</button>
                </td>
                <td>
                    <form action="#" th:action="@{/admin/updateDate/{id}(id=${user.id})}" th:object="${dateContainer}" method="post">
                        Project Due Date: <br/> <input th:field="*{dateTime}" type="datetime-local"/><br/>
                        <input type="submit" value="Update Due Date"/>
                    </form>
                    <div>
                        <label th:text="${notify}"></label>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div id="sched" class="tabcontent">Nothing here</div>
</body>
</html>