<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Project Management System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="/js/tabController.js" type="text/javascript" />
    <link href="../css/tabFormatting.css" th:href="@{/css/tabFormatting.css}" type="text/css" rel="stylesheet"/>
    <link href="../css/projectTable.css" th:href="@{/css/projectTable.css}"  type="text/css" rel="stylesheet"/>
</head>
<body>
    <!-- https://www.w3schools.com/howto/howto_js_tabs.asp -->
    <div class="tab">
        <button class="tablinks" id="defaultOpen" onclick="openTab(event, 'project')">Projects</button>
        <button class="tablinks" onclick="openTab(event, 'avail')">Availability</button>
        <form action="#" th:action="@{/logout}" method="get">
            <button id="logout" class="tablinks" >Logout</button>
        </form>
        <button class="tablinks" style="float: right" th:text="${projects[0].getDueDateFancy()}"></button>
    </div>
    <div id="project" class="tabcontent">
        <table id="projectTable" class="container">
            <thead>
            <tr>
                <th><h1>Project Name</h1></th>
                <th><h1>Project Description</h1></th>
                <th><h1>Max Number of Student</h1></th>
                <th><h1>Permitted Streams</h1></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="project : ${projects}">
                <td class="table-item" th:text="${project?.projectName}"></td>
                <td class="table-item" th:text="${project?.description}"></td>
                <td class="table-item" th:text="${project?.maxStudents}"></td>
                <td class="table-item" th:text="${project?.getStreamNames()}"></td>
                <td class="deleteButtonContainer">
                    <form th:action="@{/prof/{id}/project/{pid}/delete(id=__${user.id}__,pid=__${project.id}__)}" method="post">
                        <button name="submit" id="deleteProject" class="projectControlButton">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="controlButtonContainer">
            <a th:href="@{/prof/{id}/project/new(id=${user.id})}">
                <button name="Submit" id="addProject" class="projectControlButton" >Add Project</button>
            </a>
        </div>
    </div>

    <div id="avail" class="tabcontent">Nothing here</div>

</body>
</html>