<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Project Management System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../../../css/projectCreation.css" th:href="@{/css/projectCreation.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<form th:action="@{/prof/{id}/project/new(id=${id})}" th:object="${project}" method="post">
    <ul class="form-style-1">
        <li><label>Project Name: <span class="required">*</span></label><input type="text" name="nameField" class="field-divided" placeholder="Project Name..." th:field="*{projectName}" />
        </li>
        <li>
            <label>Project Description <span class="required">*</span></label>
            <textarea name="projectField" id="projectField" class="field-long field-textarea" placeholder="description..." th:field="*{description}"></textarea>
        </li>
        <li>
        <label>Max Number of Student: <span class="required">*</span></label>
        <input type="number" name="maxStudentField" class="field-divided" min="0" placeholder="1" th:field="*{maxStudents}"/>
        </li>
        <li>
            <label>Restrictions: <span class="required">*</span></label>
            <textarea name="restrictionsField" id="restrictionsField" class="field-long field-textarea" placeholder="restrictions..." th:field="*{restrictions}"></textarea>
        </li>
        <li>
            <input type="submit" value="Submit" />
        </li>
    </ul>
</form>
</body>
</html>