<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Scheduling Tool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="#" th:action="@{/prof/{id}/avl/process(id=${id})}" th:object="${schedule}" method="post">
    <table>
        <thead>
        <tr>
            <th th:each="weekday : ${schedule.HEADERS}"><h1 th:text="${weekday}"></h1></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row : ${schedule.timeSlotList}" th:field="$__*{timeSlotList}__">
            <td th:text="${row.time}"></td>
            <td th:each="value : ${row.checkedValues}">
                <input type="checkbox" th:checked="${value}"/>
            </td>
        </tr>
        </tbody>
    </table>
    <input type="submit" value="Submit" />
</form>
</body>
</html>